html,
body {
  font-family: sans-serif;
  background-color: rgb(24, 26, 27);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

main {
  max-width: 1600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  background-image: none;

  text-decoration-color: currentColor;
  color: rgb(102, 177, 250);
  background-color: rgba(0, 0, 0, 0);
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-color: currentcolor;
}

.mw-body {
  background-color: inherit;
  color: rgb(211, 207, 202);

  padding: 1.25em 1.5em 1.5em 1.5em;

  direction: 1tr;

  overflow: visible;
}

.mw-body h1 {
  font-size: 1.8em;
  font-family: Georgia, "Times New Roman", Times, serif;

  margin-bottom: 0.25em;
  padding: 0;
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding-top: 0.5em;
  padding-bottom: 0.17em;
  overflow: hidden;
}

h1,
h2 {
  border-bottom: 1px solid #a2a9b1;

  border-bottom-color: rgb(72, 78, 81);
  color: rgb(232, 230, 227);

  font-weight: normal;
}

h2 {
  margin-bottom: 0.25em;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
}

ul {
  list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNSIgaGVpZ2h0PSIxMyI+PGRlZnM+PGZpbHRlciBpZD0iZGFya3JlYWRlci1pbWFnZS1maWx0ZXIiPjxmZUNvbG9yTWF0cml4IHR5cGU9Im1hdHJpeCIgdmFsdWVzPSIwLjI0OSAtMC42MTQgLTAuNjcyIDAuMDAwIDEuMDM1IC0wLjY0NiAwLjI4OCAtMC42NjQgMC4wMDAgMS4wMjAgLTAuNjM2IC0wLjYwOSAwLjI1MCAwLjAwMCAwLjk5NCAwLjAwMCAwLjAwMCAwLjAwMCAxLjAwMCAwLjAwMCIgLz48L2ZpbHRlcj48L2RlZnM+PGltYWdlIHdpZHRoPSI1IiBoZWlnaHQ9IjEzIiBmaWx0ZXI9InVybCgjZGFya3JlYWRlci1pbWFnZS1maWx0ZXIpIiB4bGluazpocmVmPSJkYXRhOmltYWdlL3N2Zyt4bWw7YmFzZTY0LFBEOTRiV3dnZG1WeWMybHZiajBpTVM0d0lpQmxibU52WkdsdVp6MGlWVlJHTFRnaVB6NEtQSE4yWnlCNGJXeHVjejBpYUhSMGNEb3ZMM2QzZHk1M015NXZjbWN2TWpBd01DOXpkbWNpSUhkcFpIUm9QU0kxSWlCb1pXbG5hSFE5SWpFeklqNEtDVHhqYVhKamJHVWdZM2c5SWpJdU5TSWdZM2s5SWpraUlISTlJakl1TlNJZ1ptbHNiRDBpSXpJd01qRXlNaUl2UGdvOEwzTjJaejRLIiAvPjwvc3ZnPg==");
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
}

img {
  border: 0;
  vertical-align: middle;

  border-color: currentColor;
  margin: 0 auto;
}

.mw-first-heading::before {
  display: block;
  height: 18px;
  left: -9999px;
  line-height: 0;
  margin-bottom: 20px;
  position: absolute;
  width: 120px;
}

.vector-body {
  position: relative;
  z-index: 0;
  font-size: calc(1em * 0.875);
  line-height: 1.6;
}

.vector-body p {
  margin: 0.5em 0;
}

.vector-body h2 {
  margin-top: 1em;
  font-size: 1.5em;
}

.vector-body h3,
.vector-body h4 {
  font-weight: bold;
}

.vector-body h3 {
  font-size: 1.2em;
}

.vector-body h3,
.vector-body h4,
.vector-body h5,
.vector-body h6 {
  line-height: 1.6;
}

.vector-body .toc h2 {
  font-family: sans-serif;
  font-size: 100%;
}

#siteSub {
  font-size: 92%;

  display: block;
}

#contentSub {
  padding-left: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-style: italic;
}

.infobox {
  border: 1px solid #a2a9b1;
  border-spacing: 3px;

  margin: 0.5em 0 0.5em 1em;
  padding: 0.2em;

  float: right;
  clear: right;

  font-size: 88%;
  line-height: 1.5em;
  width: 25em;

  border-color: rgb(72, 78, 81);
  background-color: rgb(27, 30, 31);
  color: rgb(232, 230, 227);
}

.infobox-header {
  background-color: rgb(78, 78, 78);
  line-height: normal;
  padding: 0.5em 0.2em;
}

.infobox .infobox-above,
.infobox .infobox-title,
.infobox caption {
  font-size: 125%;
  font-weight: bold;
  text-align: center;
}

.infobox-above,
.infobox-caption {
  padding: 0.5em 0;
}

.infobox-image img {
  border-radius: 5px;
}

.infobox .infobox-header,
.infobox .infobox-subheader,
.infobox .infobox-image,
.infobox .infobox-full-data,
.infobox .infobox-below {
  text-align: center;
}

.infobox-header,
.infobox-label,
.infobox-above,
.infobox-full-data,
.infobox-data,
.infobox-below,
.infobox-subheader,
.infobox-image,
.infobox-navbar,
.infobox th,
.infobox td {
  vertical-align: top;
}

.fn {
  display: inline;
}

.infobox-label,
.infobox-data,
.infobox th,
.infobox td {
  text-align: left;
}

.infobox-label {
  font-weight: bold;
  color: white;
  /* text-align: right !important; */
}

.infobox-data {
  max-width: 15em;
}

#age::before {
  content: "(age ";
}

#death::before {
  content: "(aged ";
}

#age::after,
#death::after {
  content: ")";
}

.mw-disc-content {
  margin: 0.3em 0 0 1.6em;
  padding: 0;
}

.hlist dl,
.hlist ol,
.hlist ul {
  margin: 0;
  padding: 0;
}

.hlist dd,
.hlist dt,
.hlist li {
  margin: 0;
  display: inline;
}

.hlist dd::after,
.hlist li::after {
  content: " · ";
  font-weight: bold;
}

.hlist li:last-child::after {
  content: "";
}

.plainlist {
  margin-left: -2.3em;
  text-indent: -1em;
}

.plainlist ol,
.plainlist ul {
  list-style-image: none;
  line-height: inherit;
  list-style: none;
  margin: 0;
}

.plainlist ul li {
  margin-bottom: 0;
  /* text-indent: -1em; */
}

.signature {
  filter: invert(1);
  width: 75%;
}

.toc,
.toccolours {
  font-size: 95%;
  border: 1px solid #a2a9b1;
  border-color: rgb(72, 78, 81);
  background-color: rgb(27, 30, 31);
}

.toc {
  display: table;
  padding: 7px;
}

.toc h2 {
  display: inline;
}

.toc .toctitle {
  direction: ltr;
  text-align: center;
}

#toctogglecheckbox {
  display: inline !important;
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.toctogglelabel {
  color: rgb(102, 177, 250);
  cursor: pointer;
}

.toctogglespan {
  font-size: 94%;
}

.toctogglespan::before {
  content: " [";
}

.toctogglespan::after {
  content: "]";
}

.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel::after {
  content: "hide";
}

.toctogglecheckbox:checked + .toctitle .toctogglelabel::after {
  content: "show";
}

/* What to do when checkbox is clicked */
.toctogglecheckbox:checked ~ ul {
  display: none;
}

.mw-content-ltr .toc ul,
.mw-content-rtl .mw-content-ltr .toc ul {
  text-align: left;
}

.toc ul {
  list-style-image: none;
  list-style: none;
  margin: 0.3em 0;
  padding: 0;
}

.toc ul ul {
  margin: 0 0 0 2em;
}

.tocnumber {
  color: rgb(211, 207, 202);
  padding-left: 0;
  padding-right: 0.5em;
}

.tocnumber,
.toctext {
  text-decoration-color: inherit;
  display: table-cell;
  text-decoration: inherit;
}

.hatnote {
  padding-left: 1.6em;
  margin-bottom: 0.5em;
  font-style: italic;
}

/* Quote box */

div.tright,
div.floatright,
table.floatright {
  clear: right;
  float: right;
}

div.thumb {
  background-color: transparent;
  width: auto;
}

div.tright {
  margin: 0.5em 0 1.3em 1.4em;
}

.floatright {
  margin: 0.5em 0 0.8em 1.4em;
}

.quotebox {
  border: 1px solid #aaa;
  box-sizing: border-box;
  padding: 10px;
  font-size: 88%;
  max-width: 100%;
  background-color: rgb(27, 30, 31);
  border-color: rgb(72, 78, 81);
}

.quotebox .quotebox-quote {
  display: block;
}

cite {
  font-style: inherit;
}

/* Thumbnail image */
div.thumbinner {
  border: 1px solid #c8ccd1;
  font-size: 94%;
  padding: 3px;
  text-align: center;
  overflow: hidden;
  min-width: 100px;
  border-color: rgb(62, 67, 70);
  background-color: rgb(27, 30, 31);
}

.thumbcaption {
  text-align: left;
  border: 0;
  font-size: 94%;
  line-height: 1.4em;
  padding: 3px;
  border-color: currentcolor;
}

.thumbnail {
  border: 1px solid #c8ccd1;
  background-color: rgb(24, 26, 27);
  border-color: rgb(62, 67, 70);
}

/* Wiki Table */
.wikitable {
  background-color: rgb(27, 30, 31);
  color: rgb(211, 207, 202);
  border-color: rgb(72, 78, 81);
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
  text-align: center;
}

.wikitable > caption {
  font-weight: bold;
}

.wikitable > tr > th,
.wikitable > tr > td,
.wikitable > * > tr > th,
.wikitable > * > tr > td {
  border: 1px solid #a2a9b1;
  border-color: rgb(72, 78, 81);
  padding: 0.2em 0.4em;
}

.wikitable > tbody > tr > th {
  width: auto;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.wikitable td ul,
.wikitable td ol,
.wikitable td dl {
  text-align: left;
}

.wikitable > * > tr > td > ul {
  padding: 0 1.5em;
}

.wikitable > * > tr > td {
  max-width: 18em;
}

.wikitable > * > tr > th {
  padding: 0 1.2em;
  background-color: #222526;
}

.wikitable.plainrowheaders th[scope="row"],
.wikitable.plainrowheaders th[scope="rowgroup"] {
  font-weight: normal;
  text-align: left;
}

.distGroup {
  font-weight: normal;
  text-align: left;
}
